.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.site-layout.ant-layout{
  min-height: 100vh;
}
.my_btn{
  margin: 15px 15px 15px 0;
}